.TeacherNavParent{
    background-color: rgb(244, 243, 242);
    box-shadow: 0 0 10px -2px ;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.first-nav{
    margin-left: 35px;
}

.non-hilite{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
.hilite{
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
.hilite:hover{
    color: orange;
}
.non-hilite:hover{
    color: orange;
}
