.studentdataParent {
    padding-top: 130px;
}

.studentdataParentDiv {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;

}

.titlestylings {
    text-decoration: underline;
}

.flexparent {
    margin-bottom: 30px;
}

.flexchilds {
    width: 397px;
    background-color: white;
    border-radius: 20px;
    color: white;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 0px 6px 0px black;

}

table {
    caption-side: top;
}

caption {
    font-weight: bold;
    color: black;
    text-align: center;
}
.tabsSelctbtnNonHilite{
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tabsSelctbtnHilite{
    width: 150px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid orange;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

