.paraentSection3 {
    min-height: fit-content;
    margin-left: 35px;
    margin-right: 35px; 
    
}
.bg3{
    background-color: rgb(245, 242, 240); 
    width: 100%;
    background-size: 100% ;
    background-image: url('../../../../public/images/wat13.jpg');
    box-shadow: 0 0 10px -2px ;

}
.gallary-image{
    border-radius: 30px;
    width: 330px;
    height: 220px;
    margin-top: 17px;
}