.paraentSection2 {
    min-height: fit-content;
    margin-left: 35px;
    margin-right: 35px;
    
}

.sec-2Image {
    margin-top: 30px;
    height: 500px;
    width: 500px;
}

.bg2 {
    background-color: rgb(252, 245, 236);
    width: 100%;
    background-size: 100% ;
    background-image: url('../../../../public/images/wat13.jpg');
    box-shadow: 0 0 10px -2px ;

}

.quote2 {
    font-size: larger;
}

.instituteImage {
    width: 100%;
}

.rightChilid {
    margin-top: 150px;
}